@model List<VideoClub.Core.Interfaces.Helpers.CustomerWMovieRentCount>

<h2>Customers List</h2>

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Active Movie Rents
        </th>
        <th>
            View Movie Rents
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activeMovieRents)
            </td>
            <td>
                @Html.ActionLink("Movie Rents", "ListMovieRentsForCustomer", "MovieRents", new {customerId = item.customer.Id}, new { @class="btn btn-dark"})
            </td>
            <td>
                @Html.ActionLink("Create a Rent", "CreateMovieRentForCustomer", "MovieRents", new {customerId = item.customer.Id}, new { @class="btn btn-dark"})
            </td>
        </tr>
    }

</table>
