@model IEnumerable<VideoClub.Web.Models.MovieRents.ListMovieRentViewModel>

@{
    ViewBag.Title = "ListMovieRents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rent History</h2>

<table class="table">
    <tr>
        <th>
            Movie Title
        </th>
        <th>
            Copy ID
        </th>
        <th>
            Username
        </th>
        <th>
            From Date
        </th>
        <th>
            To Date
        </th>
        <th>
            Comments
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieCopyMovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieCopyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
        </tr>
    }

</table>
