@model IEnumerable<VideoClub.Core.Entities.MovieRent>

@{
    ViewBag.Title = "ListMovieRentsForCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Rents for @Model.First().ApplicationUser.UserName  </h2>

<table class="table">
    <tr>
        <th>
            Movie Title
        </th>
        <th>
            Rent Date
        </th>
        <th>
            Return Date
        </th>
        <th>
            Comments
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MovieCopy.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments) 
        </td>
    </tr>
}
</table>
