@model VideoClub.Core.Entities.Reservation

@{
    ViewBag.Title = "CreateReservationAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Reservation for: @TempData["Movie Title"] </h2>

@using (Html.BeginForm("CreateReservationAdmin", "Reservations", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Reservation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MovieCopy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MovieCopy.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.To, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationUser.UserName, htmlAttributes: new { @class = "control-label col-md-2" });
        <div class="col-md-10">
            @Html.EditorFor(model => model.ApplicationUser.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApplicationUser.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" });
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comments , new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comments , "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.From)
    @Html.HiddenFor(model => model.To)
    @Html.HiddenFor(model => model.MovieCopy.Id)
    @Html.HiddenFor(model => model.Comments)

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Reservation" class="btn btn-success" />
        </div>
    </div>
</div>
}
<br />
<div>
    @Html.ActionLink("MoviesList","ListMovies","Movies")
</div>
