@model  VideoClub.Web.Models.ReservationForCustomerViewModel
@{
    ViewBag.Title = "CreateReservationForCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create A Reservation</h2>

@using (Html.BeginForm("CreateReservationForCustomer", "Reservations", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.ApplicationUser.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Reservation.ApplicationUser.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.From, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Reservation.From, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Reservation.To, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvailableMovies, "Select an option:")
            @Html.DropDownListFor(model => model.SelectedMovieId, new SelectList(Model.AvailableMovies, "Id", "Title"), "Select an option", new { @class = "form-control"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Reservation" class="btn btn-success" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Reservation.Comments)
    @Html.HiddenFor(model => model.Reservation.From)
    @Html.HiddenFor(model => model.Reservation.To)
    @Html.HiddenFor(model => model.Reservation.ApplicationUser.Id)
}

<br />
<div>
    @Html.ActionLink("MoviesList", "ListMovies", "Movies")
</div>

