@model IEnumerable<VideoClub.Core.Entities.Reservation>

@{
    ViewBag.Title = "ListActiveReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active Reservations</h2>

<table class="table">
    <tr>
        <th>
            Movie Title
        </th>
        <th>
            Copy ID
        </th>
        <th>
            Username
        </th>
        <th>
            From Date
        </th>
        <th>
            To Date
        </th>
        <th>
            Comments
        </th>
        <th>
            Return
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MovieCopy.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieCopy.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
                <button class="return-button btn btn-dark" data-reservation-id="@item.Id">Return</button>
        </td>
    </tr>
}

</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $(document).ready(function () {
        // Handle the click event of the "Return" buttons
        $('.return-button').click(function () {
            var reservationId = $(this).data('reservation-id');
            var $button = $(this);

            // Send the Ajax request to return the movie
            $.ajax({
                type: 'POST',
                url: '/Reservations/ReturnMovie', // Replace with the actual URL of your Controller
                data: { reservationId: reservationId },
                success: function (response) {
                    if (response.success) {
                        // Display a success popup
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'The movie has been successfully returned!',
                        }).then(function () {
                            // Optionally, remove the row from the table
                            $button.closest('tr').remove();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'There was an issue with returning the movie.',
                        });
                    }
                },
                error: function () {
                    alert('There was an issue with returning the movie.');
                }
            });
        });
    });
</script>
